<configuration>

    <!-- Create a file appender for a log in the application's data directory -->
    <appender name="lfile" class="ch.qos.logback.core.FileAppender">
        <file>/data/data/com.smaxll.apps.android.flickrautobackup/files/log/test.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>trace</level>
        </filter>
        <encoder>
            <pattern>%class{0}.%method:%L > %msg</pattern>
        </encoder>
        <tagEncoder>
            <pattern>FlickrAutoBackup</pattern>
        </tagEncoder>
    </appender>

    <!-- Write INFO (and higher-level) messages to the log file -->
    <root level="INFO">
        <appender-ref ref="lfile" />
        <appender-ref ref="logcat" />
    </root>
</configuration>